h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: large;
}
*{
    box-sizing: border-box;
}
[area-jogo]{
    position: relative;
    margin: 30px;
    width: 1250px;
    height: 550px;
    background-color: deepskyblue;
    border: 10px solid dodgerblue;
    overflow: hidden;
}

.passaro{
    position: absolute;
    width: 40px;
    bottom: calc(40% - 40px);
    z-index: 10;
}

.obstaculo{
    display: flex;
    align-items: center;
}

.par-de-obstaculo{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.obstaculo .corpo{
    height: 20px;
    width: 500px;
    background: linear-gradient(90deg, #79ebeb, #0d537c, #66e4c4);
}

.progresso{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.reiniciar{
    position: absolute;
    font-size: medium;
    font-weight: bold;
    padding: 15px;
    top: 300px;
    left: 580px;
    border: none;
    border-radius: 5px;
    display: none;
}
.reiniciar:hover{
    cursor: pointer;
}
.reiniciar:active{
    transform: scale(0.95);
}